[user]
  name = cmilhench
  email = colin@milhen.ch
[color]
  ui = auto
[alias]
  s = status -sb
  sg = log --oneline --graph --decorate --all
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[push]
  default = simple
