[user]
  name = cmilhench
  email = colin@milhen.ch
[color]
  ui = auto
[alias]
  s = status -sb
	sg = log --oneline --graph --decorate --all
	undo = "!f() { \\\n    git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; \\\n}; f"
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[push]
  default = simple
