# Heading
snippet head
	// -----------------------------------------------------------------
	//  ${1:file_name}.js
	//
	//  ${2:project_name}
	//  Copyright 2015. CM Group Ltd. All rights reserved.
	//
	//  Colin Milhench <colinm@cm-group.co.uk>
	//
	${3}
# Banner
snippet banner
	// -----------------------------------------------------------------
	//  ${1:name}

	${2}

